@charset 'UTF-8';
$mainPrimary: #ff5900;
$mainSecondary: #5cc427;
$mainTertiary: #EBEBEB;


$breakpoint: (
    sp: 'screen and (max-width: 767px)',
    pc: 'screen and (min-width: 768px)',
    minisp: 'screen and (max-width: 370px)'
);

@mixin mq($bp) {
    @media #{map-get($breakpoint, $bp)} {
        @content;
    }
}

body {
    font-family: 'Hiragino Kaku Gothic Std', 'Noto Sans CJK JP', 'メイリオ', sans-serif;
    color: #333333;
    font-size: 14px;

    @include mq(pc) {
        line-height: 1.75;
    }

    @include mq(sp) {
        line-height: 1.15;
    }

    header {
        @include mq(pc) {
            width: 1280px;
            margin: 0 auto;
        }

        @include mq(sp) {
            padding: 0 12px;
        }

        .top-logo-area {
            width: 960px;
            margin: 0 auto;

            @include mq(sp) {
                width: 100%;
                padding-top: 12px;

                img {
                    max-width: 168px;
                }
            }

            p {
                font-size: 14px;
                font-weight: 400;

                @include mq(sp) {
                    font-size: 10px;
                    text-align: right;
                    line-height: 1.4;
                }
            }
        }
    }

    main {
        &.container {
            width: 100%;

            .top-main-visual {
                border-top: 2px solid #DCDCDC;
                background-color: #FFFFEC;

                @include mq(pc) {
                    max-height: 396px;
                }

                @include mq(sp) {
                    font-size: 0;
                    margin-top: 13.5px;
                }

                .top-main-visual-wrap {
                    //@include mq(pc) {
                        width: 100%;
                        max-width: 1280px;
                        margin: 0 auto;
                    //}

                    @include mq(sp) {
                        display: block;
                        width: 100%;
                    }

                    .top-left-column {
                        margin-left: 160px;
                        z-index: 999;
                        position: relative;

                        @include mq(sp) {
                            width: 100%;
                            margin: 0;

                            .top-left-first-elem {
                                text-align: center;

                                img {
                                    max-width: 327.5px;
                                    width: 100%;
                                }
                            }
                        }

                        .top-left-second-elem {
                            margin-top: 48px;

                            @include mq(sp) {
                                position: absolute;
                                right: 12px;
                                bottom: -215px;

                                img {
                                    width: 302px;
                                    max-width: 100%;
                                }
                            }
                        }
                    }

                    .top-right-column {
                        @include mq(pc) {
                            margin-left: -160px;
                        }

                        img {
                            width: 100%!important;

                            @include mq(sp) {
                                width: 375px;
                                max-width: 100%;
                            }
                        }

                    }
                }
            }

            @include mq(pc) {
                width: 100%;
                margin: 0 auto;
            }

            .contents-wrap {
                color: #333333;
                font-size: 0;
                position: relative;
                text-align: center;

                @include mq(pc) {
                    width: 710px;
                    margin: 0 auto;
                }

                @include mq(sp) {
                    padding: 0 16px;
                }

                .contents-heading-h3 {
                    &:nth-child(n+2) {
                        h3 {
                            margin-top: 56px;

                            @include mq(sp) {
                                margin-top: 40px;
                            }
                        }
                    }

                    h3 {
                        margin-top: 50px;
                        padding-left: 12px;

                        &.heading-border-line-orange {
                            border-left: 6px #FF5900 solid;
                        }

                        &.heading-border-line-green {
                            border-left: 6px #5CC427 solid;
                        }
                    }
                }

                h3 + p {
                    font-size: 16px;
                    font-weight: bold;
                    margin-top: 24px;
                }
            }

            .contents-free-entry {
                background-color: $mainSecondary;
                padding: 36.4px 0 32px;

                div + div {
                    margin-top: 16px;
                }

                p {
                    text-align: center;
                    position: relative;
                    margin: 0;

                    &.contents-subtitle {
                        margin: 0 0 17.6px 0;

                        span {
                            color: #fff;
                            font-size: 18px;
                            font-weight: 700;
                            position: relative;

                            @include mq(sp) {
                                font-size: 16px;
                                line-height: 1.69;
                            }

                            &::before {
                                content: url(../images/icon/icon-slash_back.png);
                                position: absolute;
                                left: -42.9px;

                                @include mq(sp) {
                                    top: -2px;
                                    left: -27px;
                                }
                            }

                            &::after {
                                content: url(../images/icon/icon-slash.png);
                                position: absolute;
                                right: -42.9px;

                                @include mq(sp) {
                                    top: -2px;
                                    right: -27px;
                                }
                            }
                        }
                    }
                }

                button {
                    &.contents-free-entry-button {
                        position: relative;

                        @include mq(pc) {
                            width: 710px;
                        }

                        @include mq(sp) {
                            max-width: 100%;
                            width: 327px;
                            height: 72px;
                        }

                        display: block;
                        text-align: center;
                        text-decoration: none;
                        margin: auto;
                        padding: 14px 0 16px 0;
                        font-weight: 700;
                        border: 1px solid #fff;
                        border-radius: 4px;
                        transition: 0.5s;

                        &::after {
                            content: url(../images/icon/icon-arrow.png);
                            position: absolute;
                            top: 50%;
                            right: 16px;
                            transform: translate(-50%, -50%);
                            -webkit-transform: translate(-50%, -50%);
                            -ms-transform: translate(-50%, -50%);
                        }

                        a {
                            display: block;
                            color: #fff;
                            position: relative;

                            p {
                                margin-bottom: 5px;
                            }

                            small {
                                font-size: 10px;
                                font-weight: 400;
                            }
                        }
                    }

                    &.style-a {
                        border: 1px solid $mainPrimary;

                        a {
                            p {
                                span {
                                    font-size: 24px;
                                }
                            }
                        }
                    }

                    &.style-b {
                        a {
                            p {
                                span {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }

            .contents-phase {
                background-color: $mainTertiary;
                padding: 36.4px 0 52px;

                p {
                    position: relative;
                    margin: 0;

                    &.contents-subtitle {
                        margin: 0 0 17.6px 0;

                        span {
                            color: #333333;
                            font-size: 20px;
                            font-weight: 700;
                            position: relative;

                            &::before {
                                content: url(../images/icon/icon-slash-black_back.png);
                                position: absolute;
                                top: 50%;
                                left: -16px;
                                transform: translate(-50%, -50%);
                                -webkit-transform: translate(-50%, -50%);
                                -ms-transform: translate(-50%, -50%);
                            }

                            &::after {
                                content: url(../images/icon/icon-slash-black.png);
                                position: absolute;
                                top: 50%;
                                right: -29px;
                                transform: translate(-50%, -50%);
                                -webkit-transform: translate(-50%, -50%);
                                -ms-transform: translate(-50%, -50%);
                            }
                        }
                    }
                }

                .contents-subtitle-supplement {
                    font-size: 28px;
                    font-weight: 700;
                    color: $mainPrimary;
                    margin-top: 16px!important;

                    @include mq(sp) {
                        font-size: 24px;
                        line-height: 1.29;
                    }

                    & + p {
                        font-size: 16px;
                        font-weight: 400;
                    }
                }

                button {
                    &.contents-free-entry-button {
                        position: relative;

                        @include mq(pc) {
                            width: 710px;
                        }

                        display: block;
                        text-align: center;
                        text-decoration: none;
                        margin: auto;
                        padding: 14px 0 16px 0;
                        font-weight: 700;
                        border: 1px solid #fff;
                        border-radius: 4px;
                        transition: 0.5s;

                        &::after {
                            content: url(../images/icon/icon-arrow.png);
                            position: absolute;
                            top: 50%;
                            right: 16px;
                            transform: translate(-50%, -50%);
                            -webkit-transform: translate(-50%, -50%);
                            -ms-transform: translate(-50%, -50%);
                        }

                        a {
                            display: block;
                            color: #fff;
                            position: relative;

                            p {
                                margin-bottom: 5px;
                            }

                            small {
                                font-size: 10px;
                                font-weight: 400;
                            }
                        }
                    }

                    &.style-a {
                        a {
                            p {
                                span {
                                    font-size: 24px;
                                }
                            }
                        }
                    }

                    &.style-b {
                        a {
                            p {
                                span {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }

                .contents-phase-card {
                    align-items: center;
                    position: relative;
                    background-color: #fff;
                    border-radius: 8px;
                    padding: 18.5px 16px 18.5px;
                    margin-top: 28.5px;

                    @include mq(sp) {
                        -webkit-flex-wrap: nowrap;
                        flex-wrap: nowrap;
                        padding: 16px;
                    }

                    p {
                        span {
                            color: #fff;
                            font-size: 14px;
                            font-weight: 700;
                        }

                        strong {
                            font-size: 18px;
                            font-weight: 700;
                        }
                    }

                    .contents-phase-card-title {
                        justify-content: flex-start;
                        align-items: center;

                        .contents-phase-card-tag {
                            position: relative;
                            background-color: $mainPrimary;
                            padding: 8.5px 11.5px;
                            border-radius: 4px 0 0 4px;
                            height: 32px;
                            box-sizing: border-box;
                            line-height: 1.15;

                            span {
                                display: block;
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                background-image: url('../images/icon/icon-tag.png');
                                top: 0;
                                right: -16px;
                                width: 16px;
                                height: 32px;
                            }

                            > p {
                                margin: 0;
                            }
                        }

                        p {
                            margin-left: 24px;
                        }
                    }

                    .contents-phase-card-estimate-describe {
                        font-size: 14px;
                        font-weight: 400;
                        text-align: left;
                        margin-top: 34px;

                        @include mq(sp) {
                            width: 50%;
                            text-align: justify;
                            line-height: 1.75;
                            margin-top: 15px;
                            letter-spacing: -0.6px;
                        }
                    }

                    .contents-phase-img {
                        margin-left: 20px;

                        @include mq(sp) {
                            margin-left: 0;
                        }
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        background-image: url('../images/icon/icon-arrow-bottom.png');
                        width: 32px;
                        height: 16px;
                        left: 50%;
                        bottom: -16px;
                        transform: translate(-50%, -50%);
                        -webkit-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                    }

                    & + .contents-phase-card {
                        margin-top: 27.5px;
                    }

                    .contents-phase-style {
                        flex-wrap: nowrap;
                        align-items: center;
                    }
                }
            }

            .contents-sitemap {
                font-family: 'Noto Sans CJK JP', 'メイリオ', sans-serif;
                color: #666666;
                font-size: 12px;
                margin: 56px auto;
                width: 960px;

                @include mq(sp) {
                    width: 100%;
                    margin-top: 24px;
                }

                .contents-wrap {
                    width: auto;
                    font-size: 12px;

                    @include mq(pc) {
                        //max-width: 960px;
                    }

                    @include mq(sp) {
                        width: 100%;
                        padding: 0!important;
                    }
                }

                .contents-sitemap-title {
                    font-size: 12px;
                    font-weight: bold;

                    @include mq(sp) {
                        margin-left: 16px;
                        margin-top: 24px;
                    }
                }

                ul {
                    list-style-type: disc;

                    @include mq(pc) {
                        padding-left: 1.5em;
                    }

                    @include mq(sp) {
                        margin-top: 8px;
                        padding: 0 16px 0 35px;
                    }

                    li {
                        line-height: 1.6666666666666667;

                        a {
                            color: #0080B9;
                            text-decoration: underline;

                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }

            .contents-insurance-thumbnail {
                background-color: #EBEBEB;
                padding: 31px 0 32px;

                .contents-insurance-thumbnail-property {
                    margin-top: 17px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 112px;
                    height: 56px;
                    background-color: #fff;
                    border-radius: 4px;

                    @include mq(pc) {
                        margin-top: 21.7px;
                    }

                    @include mq(sp) {
                        width: 96px;
                        height: 48px;
                        margin-top: 20.2px;
                        margin-left: 8px;

                        img {
                            max-width: 82px;
                        }
                    }

                    &:nth-child(1) {
                        margin-left: 0;
                    }
                }
            }

            .contents-insurance-qa {
                position: relative;
                color: #333333;
                background-color: #fff;
                z-index: -10;
                padding-top: 56px;

                @include mq(sp) {
                    padding-top: 48px;
                }

                p {
                    line-height: 1.75;
                }

                .contents-insurance-heading {
                    h2 {
                        margin-top: 12px;
                    }
                }

                .contents-insurance-compare {
                    margin-top: 24.5px;

                    .contents-heading-bg {
                        background-image: url(../images/icon/icon-background-line.png);
                        background-repeat: no-repeat;
                        background-position: top 14.7px center;

                        @include mq(sp) {
                            background-image: url(../images/icon/icon-background-line-sp.png);
                            background-size: contain;
                            width: 100%;
                        }

                        p {
                            &.contents-heading-p {
                                position: relative;

                                span {
                                    position: relative;
                                    background-color: #fff;
                                    padding: 0 27px;
                                    font-size: 18px;
                                    font-weight: bold;
                                    z-index: 999;

                                    @include mq(sp) {
                                        padding: 0 11px;
                                    }
                                }
                            }
                        }
                    }

                    .contents-insurance {
                        margin-top: 8.3px;

                        @include mq(sp) {
                            margin-top: 0;
                        }

                        .contents-insurance-compare-box {
                            box-sizing: border-box;

                            @include mq(pc) {
                                max-width: 307px;
                                width: 100%;
                            }

                            @include mq(sp) {
                                width: 100%;
                            }

                            p {
                                @include mq(sp) {
                                    font-size: 16px;

                                    small {
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }

                    .contents-insurance-compare-left-box {
                        color: #fff;
                        padding: 13px 0 14px 0;
                        border-radius: 4px 0 0 4px;

                        @include mq(sp) {
                            padding: 7px 0 7px;
                        }
                    }

                    .contents-insurance-compare-right-box {
                        color: #fff;
                        padding: 13px 0 14px;
                        border-radius: 0 4px 4px 0;

                        @include mq(sp) {
                            padding: 7px 0 7px;
                        }
                    }

                    .contents-insurance-compare-left-box,
                    .contents-insurance-compare-right-box {
                        p {
                            font-size: 18px;
                            font-weight: 700;

                            small {
                                display: block;
                                font-size: 12px;
                                font-weight: 400;
                            }
                        }
                    }

                    .contents-insurance-compare-left-box-describe,
                    .contents-insurance-compare-right-box-describe {
                        position: relative;
                        margin: 21.8px auto 0 auto;
                        padding: 13.2px 10px 12.8px;
                        border-radius: 4px;
                        box-sizing: border-box;

                        //@include mq(pc) {
                            max-width: 299px;
                            width: 100%;
                        //}

                        @include mq(sp) {
                            margin-top: 15.5px;
                            padding: 10px;
                            width: 95%;
                        }

                        p {
                            font-size: 14px!important;
                            font-weight: 700;
                            letter-spacing: -0.02em;

                            @include mq(sp) {
                                font-size: 12px!important;
                                line-height: 1.5;
                                text-align: left;
                            }
                        }
                    }

                    .contents-insurance-compare-left-box-describe {
                        background-color: #FCEDE3;

                        &::before {
                            content: url(../images/icon/icon-triangle-left.png);
                            position: absolute;
                            top: 2px;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            -webkit-transform: translate(-50%, -50%);
                            -ms-transform: translate(-50%, -50%);
                        }
                    }

                    .contents-insurance-compare-right-box-describe {
                        background-color: #E4F2DA;

                        &::before {
                            content: url(../images/icon/icon-triangle-right.png);
                            position: absolute;
                            top: 2px;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            -webkit-transform: translate(-50%, -50%);
                            -ms-transform: translate(-50%, -50%);
                        }
                    }
                }
            }


            .contents-insurance-introduction {
                padding-top: 56px;
                position: relative;
                background-color: #FFFFEC;
                z-index: -10;

                .contents-insurance-heading {
                    h2 {
                        margin-top: 12px;

                        @include mq(sp) {
                            line-height: 1.5;
                        }
                    }

                    p {
                        font-size: 15px;
                        font-weight: 400;
                        margin-top: 24px;

                        @include mq(sp) {
                            line-height: 1.75;
                        }
                    }
                }

                .contents-heading-h3 {
                    h3 {
                        margin-top: 49px!important;

                        @include mq(sp) {
                            font-size: 20px;
                        }
                    }
                }

                .contents-insurance-price {
                    position: relative;

                    .contents-insurance-price-annotation-bottom {
                        font-size: 12px;
                        font-weight: 400;
                        margin-top: 12px;
                    }

                    .contents-insurance-price-box {
                        width: 343px;
                        background-color: #fff;
                        margin-top: 24.5px;
                        border-radius: 8px;
                        box-sizing: border-box;
                        line-height: 1.15;

                        &:nth-child(2) {
                            margin-left: 24px;

                            @include mq(sp) {
                                margin-left: 0;
                            }
                        }

                        .contents-insurance-price-box-head {
                            padding: 10px 0;

                            p {
                                color: #fff;
                                font-size: 20px;
                                font-weight: 600;

                                small {
                                    font-size: 15px;
                                    font-weight: 600;
                                }
                            }
                        }

                        .contents-insurance-price-box-head-primary {
                            border: 2px solid $mainPrimary;
                        }

                        .contents-insurance-price-box-head-secondary {
                            border: 2px solid $mainSecondary;
                        }

                        .contents-insurance-price-box-body {
                            padding: 20px 16px;
                            .contents-insurance-price-box-subtitle {
                                font-family: 'Hiragino Kaku Gothic ProN';
                                padding: 0;
                            }

                            .contents-insurance-price-box-left-text {
                                font-size: 12px;
                                font-weight: 600;
                                width: 48px;
                            }

                            .contents-insurance-price-box-right-text {
                                position: relative;
                                font-size: 36px;
                                font-weight: 600;
                                margin-left: 9px;
                                z-index: 999;

                                small {
                                    font-size: 14px;
                                    font-weight: 600;
                                }
                            }

                            .contents-insurance-price-annotation {
                                font-size: 12px;
                                font-weight: 700px;
                                margin-top: 17px;
                            }

                            .contents-insurance-conditions {
                                font-weight: 700;
                                margin-top: 16px;
                                color: #666666;

                                p {
                                    font-size: 12px;
                                }

                                dl {
                                    text-align: justify;
                                    font-size: 12px;
                                    font-weight: 700;
                                    display: flex;
                                    width: 100%;
                                    column-gap: 0;

                                    dt {
                                        width: 20%;
                                    }

                                    dd {
                                        width: 100%;
                                        margin-left: 12px;
                                        text-indent: -12px;
                                    }
                                }
                            }
                        }
                    }

                    .border-primary {
                        border: 2px solid $mainPrimary;
                    }

                    .border-secondary {
                        border: 2px solid $mainSecondary;
                    }
                }
            }

            .contents-suggest {
                padding: 56px 0 52px;
                position: relative;
                background-color: #fff;
                z-index: -10;

                @include mq(sp) {
                    padding-top: 48px;
                }

                p {
                    @include mq(pc) {
                        line-height: 1.75;
                    }
                }

                .contents-suggest-heading {
                    h2 {
                        margin-top: 12px;
                    }

                    p {
                        font-size: 15px;
                        font-weight: 400;
                        margin-top: 24px;

                        @include mq(sp) {
                            font-size: 16px;
                            line-height: 1.75;
                            margin-top: 20px;
                        }
                    }
                }

                .contents-heading-h3 {
                    h3 {
                        margin-top: 49px!important;
                    }

                    & + p {
                        font-size: 16px;
                        font-weight: 400;
                    }
                }

                .contents-suggest-img {
                    img {
                        border-radius: 4px;

                        @include mq(sp) {
                            width: 100%;
                            max-width: 222px;
                        }
                    }
                }
            }
        }
    }

    footer {
        font-size: 12px;
        background-color: #fff;
        padding: 16.5px 0;

        @include mq(pc) {
            width: 100%;
            margin: 0 auto;
        }

        .company {
            position: relative;
            font-size: 12px;
            font-weight: 400;
            margin-bottom: 14px;

            a {
                color: #333333;
            }

            span {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    background-image: url('../images/icon/icon-blank.png');;
                    width: 12px;
                    height: 11px;
                    right: -16px;
                }
            }
        }

        .copyright {
            font-size: 10px;
            margin-top: 16.5px;
        }
    }

    hr {
        border-top: 1px solid #DCDCDC;
    }

    h2 {
        font-size: 28px;
        font-weight: 700;
        margin: 0;
        line-height: 1.15;

        @include mq(sp) {
            font-size: 24px;
            line-height: 1.5;
        }
    }

    h3 {
        font-size: 18px;
        font-weight: 700;
        margin: 0;
        line-height: 1.15;

        @include mq(sp) {
            line-height: 1.5;
        }
    }

    h4 {
        font-size: 18px;
        font-weight: bold;
        margin: 0;
        line-height: 1.15;
    }

    p {
        font-size: 14px;
        margin: 0;

        .font-bold {
            font-weight: bold;
        }
    }

    a {
        text-decoration: none;
    }

    .text-reference {
        color: #666666;
        font-size: 12px;
        font-weight: 400;
        margin-top: 24px;
        text-align: right;

        @include mq(sp) {
            text-align: left;
            margin-top: 16px;
        }
    }

    .text-attention {
        position: absolute;
        bottom: 56px;
        padding: 40px 175px 40px 24px;
        border: 2px solid $mainPrimary;
        border-radius: 6px;
        background-color: #fff;
        z-index: -1;

        @include mq(sp) {
            position: relative;
            margin-top: 48px;
            padding: 16px 14px 21px;
            bottom: 0;
        }

        p {
            font-size: 21px;
            font-weight: 600;
            line-height: 1.71;

            @include mq(sp) {
                font-size: 19px;
                text-align: left;
                line-height: 1.89!important;
                letter-spacing: -0.9px;
            }
        }
    }

    .img-attention {
        z-index: 999;
        margin-top: 78px;
        margin-right: 10px;

        @include mq(sp) {
            margin-top: -48px;
        }
    }

    .text-attention-second {
        padding-top: 22px;
        padding-bottom: 22px;
    }

    .number-highlight {
        position: relative;

        &::after {
            content: '';
            width: 100%;
            height: 12px;
            display: inline-block;
            z-index: -1;
            background-color: #FFFFC2;
            position: absolute;
            bottom: -1px;
            left: 0;
        }
    }

    .text-highlight {
        position: relative;

        &::after {
            content: '';
            width: 100%;
            height: 8px;
            display: inline-block;
            z-index: -1;
            background-color: #FFFFC2;
            position: absolute;
            bottom: -2px;
            left: 0;
        }
    }

    .text-supplement {
        color: #666666;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.75;
        margin-top: 11px!important;
    }

    /******* base *******/
    .align-left {
        text-align: left!important;
    }

    .align-center {
        text-align: center!important;
    }

    .align-right {
        text-align: right!important;
    }

    .font-bold {
        font-weight: bold;
    }

    .margin-top-fix {
        margin-top: 6px;
    }

    .margin-top-32 {
        margin-top: 32px!important;
    }

    .margin-top-41 {
        margin-top: 41px!important;
    }

    .margin-top-48 {
        margin-top: 48px!important;
    }

    .margin-top-56 {
        margin-top: 56px!important;
    }

    .sp-margin-top-40 {
        margin-top: 40px!important;
    }

    /******* margin *******/


    /******* flex *******/
    .flex-2column {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        align-items: center;
    }

    .sp-space-between {
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }

    .flex-2column-space-between {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;

        @include mq(sp) {
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
        }
    }

    .flex-2column-space-between-block {
        @include mq(pc) {
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-between;
            justify-content: space-between;
        }
    }

    .sp-layout-block {
        @include mq(sp) {
            display: block;
        }

        .contents-insurance-price-box {
            width: 100%!important;
        }
    }

    .flex-2column-space-around {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-around;
        justify-content: space-around;
    }

    .flex-3column {
        //width: 100%;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-between;
        justify-content: space-between;

        @include mq(sp) {
            display: block;
            flex-wrap: wrap;
        }

        li {
            @include mq(pc) {
                width: 33.33333%;
                white-space: nowrap;
            }
        }
    }

    .flex-insurance-thumbnail-type {
        @include mq(pc) {
            margin: 24px 48px 0;
        }

        @include mq(sp) {
            margin: 16px 0 0;
            padding: 0 39.5px;
        }

        @include mq(minisp) {
            padding: 0;
        }

        .contents-insurance-thumbnail-type {
            background-color: #F5F5F5;
            border-radius: 4px;
            justify-content: center;

            @include mq(pc) {
                width: 147.5px;
                height: 147.5px;
                box-sizing: border-box;
                margin-top: 17px;
            }

            @include mq(sp) {
                width: 128px;
                height: 128px;
                margin-top: 8px;
                flex-wrap: wrap;
            }

            @include mq(minisp) {
                margin: 5px auto 0;
            }

            p {
                font-size: 18px;
                font-weight: bold;
                color: $mainPrimary;
                margin-top: 5px;
            }
        }
    }

    .flex-insurance-thumbnail-type-sec {
        margin: 31px 0 0 0;
        padding: 0;

        @include mq(minisp) {
            display: block;
        }

        .contents-insurance-thumbnail-type {
            margin: 0 4px;
            box-sizing: border-box;

            @include mq(sp) {
                width: 100%;
                max-width: 109px;
                margin: 0;
            }

            @include mq(minisp) {
                margin: 5px auto 0;
            }
        }

        @include mq(sp) {
            // .contents-insurance-thumbnail-type {
            //     &:nth-child(n+3) {
            //         margin-top: 0;
            //     }
            // }
        }
    }

    .sp-flex-overflow {
        @include mq(sp) {
            display: flex;
            overflow-x: scroll;
            flex-wrap: nowrap;

            div {
                flex-shrink: 0;
            }
        }
    }

    .contents-theme-bg-color-transparent {
        background-color: transparent;
    }

    .contents-theme-color-primary {
        color: $mainPrimary;
    }

    .contents-theme-color-secondary {
        color: $mainSecondary;
    }

    .contents-theme-bg-color-primary {
        background-color: $mainPrimary;
    }

    .contents-theme-bg-color-secondary {
        background-color: $mainSecondary;
    }

    button {
        &:hover {
            opacity: 0.5;
        }
    }

}

.pc-disp {
    @include mq(pc) {
        display: block;
    }

    @include mq(sp) {
        display: none!important;
    }
}

.sp-disp {
    @include mq(sp) {
        display: block;
    }

    @include mq(pc) {
        display: none!important;
    }
}

.sp-text-indent {
    @include mq(sp) {
       text-indent: 36px;
    }
}

.sp-text-black {
    @include mq(sp) {
        color: #333333;
     }
}

#js-top-scroll {
    color: #0080B9;
    text-align: center;
    font-weight: 400;
    font-size: 14px;

    p {
        padding: 32px 0 0 0;
    }

    @include mq(pc) {
        display: none;
        position: fixed;
        right: 48px;
        bottom: 75px;

        &:hover {
            opacity: 0.6;
            cursor: pointer;
        }
    }

    @include mq(sp) {
        .flex-2column {
            p + p {
                margin-left: 14px;
            }

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}

.js-show {
    display: block!important;
}

// h1 {
//     @include mq(pc) {
//         font-size: 20px;
//     }

//     @include mq(sp) {
//         font-size: 50px;
//     }
// }

// @include m.mq(pc) {
// }

// @include m.mq(sp) {
// }

