@charset 'UTF-8';
$mainPrimary: #ff5900;
$mainSecondary: #5cc427;


$breakpoint: (
    sp: 'screen and (max-width:767px)',
    pc: 'screen and (min-width: 768px)'
);

@mixin mq($bp) {
    @media #{map-get($breakpoint, $bp)} {
        @content;
    }
}

body {
    font-size: 14px;

    header {
        @include mq(pc) {
            width: 1280px;
            margin: 0 auto;
        }

        .top-logo-area {
            width: 960px;
            margin: 0 auto;
        }
    }

    main {
        &.container {
            .top-main-visual {
                background-color: #FFFFEC;

                @include mq(pc) {
                    max-height: 396px;
                }

                .top-main-visual-wrap {
                    @include mq(pc) {
                        width: 1280px;
                        margin: 0 auto;
                    }

                    .top-left-column {
                        margin-left: 160px;
                        z-index: 999;

                        .top-left-second-elem {
                            margin-top: 48px;
                        }
                    }

                    .top-right-column {
                        margin-left: -160px;
                    }
                }
            }

            @include mq(pc) {
                width: 100%;
                margin: 0 auto;
            }

            .contents-wrap {
                font-size: 0;
                position: relative;

                @include mq(pc) {
                    width: 710px;
                    margin: 0 auto;
                    text-align: center;
                }

                .contents-heading-h3 {
                    &:nth-child(n+2) {
                        h3 {
                            margin-top: 56px;
                        }
                    }

                    h3 {
                        margin-top: 50px;

                        span {
                            height: 22px;
                            padding-left: 12px;

                            &.heading-border-line-orange {
                                border-left: 6px #FF5900 solid;
                            }

                            &.heading-border-line-green {
                                border-left: 6px #5CC427 solid;
                            }
                        }
                    }
                }

                h3 + p {
                    font-size: 16px;
                    font-weight: bold;
                    margin-top: 24px;
                }
            }

            .contents-free-entry {
                background-color: $mainSecondary;
                padding: 36.4px 0 32px;

                div + div {
                    margin-top: 16px;
                }

                p {
                    text-align: center;
                    position: relative;
                    margin: 0;

                    &.contents-subtitle {
                        margin: 0 0 17.6px 0;

                        span {
                            color: #fff;
                            font-size: 18px;
                            font-weight: bold;
                            position: relative;

                            &::before {
                                content: url(../images/icon/icon-slash_back.png);
                                position: absolute;
                                left: -42.9px;
                            }

                            &::after {
                                content: url(../images/icon/icon-slash.png);
                                position: absolute;
                                right: -42.9px;
                            }
                        }
                    }
                }

                button {
                    &.contents-free-entry-button {
                        position: relative;

                        @include mq(pc) {
                            width: 710px;
                        }

                        display: block;
                        text-align: center;
                        text-decoration: none;
                        margin: auto;
                        padding: 14px 0 16px 0;
                        font-weight: bold;
                        border: 1px solid #fff;
                        border-radius: 4px;
                        transition: 0.5s;

                        &::after {
                            content: url(../images/icon/icon-arrow.png);
                            position: absolute;
                            top: 50%;
                            right: 16px;
                            transform: translate(-50%, -50%);
                            -webkit-transform: translate(-50%, -50%);
                            -ms-transform: translate(-50%, -50%);
                        }

                        a {
                            display: block;
                            color: #fff;
                            position: relative;

                            p {
                                margin-bottom: 5px;
                            }

                            small {
                                font-size: 10px;
                            }
                        }
                    }

                    &.style-a {
                        a {
                            p {
                                span {
                                    font-size: 24px;
                                }
                            }
                        }
                    }

                    &.style-b {
                        a {
                            p {
                                span {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }

            .contents-insurance-thumbnail {
                background-color: #EBEBEB;
                padding: 31px 0 32px;

                .contents-insurance-thumbnail-property {
                    @include mq(pc) {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 112px;
                        height: 56px;
                        margin-top: 17px;
                        background-color: #fff;
                        border-radius: 4px;
                    }
                }
            }

            .contents-insurance-qa {
                position: relative;
                background-color: #fff;
                z-index: -10;
                padding-top: 56px;

                .contents-insurance-heading {
                    h2 {
                        margin-top: 12px;
                    }
                }

                .contents-insurance-compare {
                    margin-top: 24.5px;

                    .contents-heading-bg {
                        background-image: url(../images/icon/icon-background-line.png);
                        background-repeat: no-repeat;
                        background-position: top 8.7px center;

                        p {
                            &.contents-heading-p {
                                position: relative;

                                span {
                                    position: relative;
                                    background-color: #fff;
                                    padding: 0 27px;
                                    font-size: 18px;
                                    font-weight: bold;
                                    z-index: 999;
                                }
                            }
                        }
                    }

                    .contents-insurance {
                        margin-top: 8.3px;

                        .contents-insurance-compare-box {
                            box-sizing: border-box;

                            @include mq(pc) {
                                width: 307px;
                            }
                        }
                    }

                    .contents-insurance-compare-left-box {
                        color: #fff;
                        padding: 13px 0 14px 0;
                        border-radius: 4px 0 0 4px;
                    }

                    .contents-insurance-compare-right-box {
                        color: #fff;
                        padding: 13px 0 14px 0;
                        border-radius: 0 4px 4px 0;
                    }

                    .contents-insurance-compare-left-box,
                    .contents-insurance-compare-right-box {
                        p {
                            font-size: 18px;
                            font-weight: 700;

                            small {
                                display: block;
                                font-size: 12px;
                                font-weight: 400;
                            }
                        }
                    }

                    .contents-insurance-compare-left-box-describe,
                    .contents-insurance-compare-right-box-describe {
                        position: relative;
                        margin: 21.8px auto 0 auto;
                        padding: 13.2px 10px 12.8px;
                        border-radius: 4px;
                        box-sizing: border-box;

                        @include mq(pc) {
                            width: 299px;
                        }

                        p {
                            font-size: 14px;
                            font-weight: 700;
                            letter-spacing: -0.02em;
                        }
                    }

                    .contents-insurance-compare-left-box-describe {
                        background-color: #FCEDE3;

                        &::before {
                            content: url(../images/icon/icon-triangle-left.png);
                            position: absolute;
                            top: 2px;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            -webkit-transform: translate(-50%, -50%);
                            -ms-transform: translate(-50%, -50%);
                        }
                    }

                    .contents-insurance-compare-right-box-describe {
                        background-color: #E4F2DA;

                        &::before {
                            content: url(../images/icon/icon-triangle-right.png);
                            position: absolute;
                            top: 2px;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            -webkit-transform: translate(-50%, -50%);
                            -ms-transform: translate(-50%, -50%);
                        }
                    }
                }
            }


            .contents-insurance-introduction {
                padding-top: 56px;
                position: relative;
                background-color: #FFFFEC;
                z-index: -10;

                .contents-insurance-heading {
                    h2 {
                        margin-top: 12px;
                    }

                    p {
                        font-size: 15px;
                        font-weight: 400;
                        margin-top: 24px;
                    }
                }

                .contents-heading-h3 {
                    h3 {
                        margin-top: 49px!important;
                    }
                }

                .contents-insurance-price {
                    position: relative;

                    .contents-insurance-price-annotation-bottom {
                        font-size: 12px;
                        font-weight: 400;
                        margin-top: 12px;
                    }

                    .contents-insurance-price-box {
                        width: 343px;
                        background-color: #fff;
                        margin-top: 24.5px;
                        border-radius: 8px;
                        box-sizing: border-box;

                        &:nth-child(2) {
                            margin-left: 24px;
                        }

                        .contents-insurance-price-box-head {
                            padding: 10px 0;

                            p {
                                color: #fff;
                                font-size: 20px;
                                font-weight: 600;

                                small {
                                    font-size: 15px;
                                    font-weight: 600;
                                }
                            }
                        }

                        .contents-insurance-price-box-head-primary {
                            border: 2px solid $mainPrimary;
                        }

                        .contents-insurance-price-box-head-secondary {
                            border: 2px solid $mainSecondary;
                        }

                        .contents-insurance-price-box-body {
                            padding: 20px 16px;
                            .contents-insurance-price-box-subtitle {
                                padding: 0;
                            }

                            .contents-insurance-price-box-left-text {
                                font-size: 12px;
                                font-weight: 600;
                                width: 48px;
                            }

                            .contents-insurance-price-box-right-text {
                                position: relative;
                                font-size: 36px;
                                font-weight: 600;
                                margin-left: 9px;
                                z-index: 999;

                                small {
                                    font-size: 14px;
                                    font-weight: 600;
                                }

                                &::after {
                                    content: '';
                                    width: 180px;
                                    height: 12px;
                                    display: inline-block;
                                    z-index: -1;
                                    background-color: #FFFFC2;
                                    position: absolute;
                                    bottom: -1px;
                                    left: 0;
                                }
                            }

                            .contents-insurance-price-annotation {
                                font-size: 12px;
                                font-weight: 700px;
                                margin-top: 17px;
                            }

                            .contents-insurance-conditions {
                                font-weight: 700;
                                margin-top: 16px;
                                color: #666666;

                                p {
                                    font-size: 12px;
                                }

                                dl {
                                    text-align: justify;
                                    font-size: 12px;
                                    font-weight: 700;
                                    display: flex;
                                    width: 100%;
                                    column-gap: 0;

                                    dt {
                                        width: 20%;
                                    }

                                    dd {
                                        width: 100%;
                                        margin-left: 12px;
                                        text-indent: -12px;
                                    }
                                }
                            }
                        }
                    }

                    .border-primary {
                        border: 2px solid $mainPrimary;
                    }

                    .border-secondary {
                        border: 2px solid $mainSecondary;
                    }
                }
            }

            .contents-suggest {
                padding-top: 56px;
                position: relative;
                background-color: #fff;
                z-index: -10;

                .contents-suggest-heading {
                    h2 {
                        margin-top: 12px;
                    }

                    p {
                        font-size: 15px;
                        font-weight: 400;
                        margin-top: 24px;
                    }
                }

                .contents-heading-h3 {
                    h3 {
                        margin-top: 49px!important;
                    }

                    & + p {
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }
        }
    }

    footer {
        @include mq(pc) {
            width: 1280px;
            margin: 0 auto;
        }
    }

    h2 {
        font-size: 28px;
        font-weight: bold;
        margin: 0;
    }

    h3 {
        font-size: 18px;
        font-weight: bold;
        margin: 0;
    }

    h4 {
        font-size: 18px;
        font-weight: bold;
        margin: 0;
    }

    p {
        font-size: 14px;
        margin: 0;

        .font-bold {
            font-weight: bold;
        }
    }

    a {
        text-decoration: none;
    }

    .text-reference {
        color: #666666;
        font-size: 12px;
        font-weight: 400;
        margin-top: 24px;
    }

    .text-attention {
        position: absolute;
        bottom: 56px;
        padding-top: 40px;
        padding-left: 24px;
        padding-bottom: 40px;
        padding-right: 175px;
        border: 2px solid $mainPrimary;
        border-radius: 6px;
        background-color: #fff;
        z-index: -1;

        p {
            font-size: 21px;
            font-weight: 600;
            line-height: 1.5;
        }

        // .img-attention {
        //     position: absolute;
        //     top: 20px;
        //     right: 6px;
        //     bottom: 0;
        // }
    }

    .img-attention {
        z-index: 999;
        margin-top: 78px;
        margin-right: 10px;
    }

    .text-attention-second {
        padding-top: 22px;
        padding-bottom: 22px;
    }

    /******* base *******/
    .align-left {
        text-align: left;
    }

    .align-center {
        text-align: center;
    }

    .align-right {
        text-align: right;
    }

    .font-bold {
        font-weight: bold;
    }

    .margin-top-fix {
        margin-top: 6px;
    }

    .margin-top-48 {
        margin-top: 48px!important;
    }

    .margin-top-56 {
        margin-top: 56px!important;
    }

    /******* margin *******/


    /******* flex *******/
    .flex-2column {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        align-items: center;
    }

    .flex-2column-space-between {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }

    .flex-2column-space-around {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-around;
        justify-content: space-around;
    }

    .flex-insurance-thumbnail-type {
        margin: 24px 48px 0;

        .contents-insurance-thumbnail-type {
            @include mq(pc) {
                justify-content: center;
                box-sizing: border-box;
                width: 147.5px;
                height: 147.5px;
                margin-top: 17px;
                background-color: #F5F5F5;
                border-radius: 4px;
            }

            p {
                font-size: 18px;
                font-weight: bold;
                color: $mainPrimary;
                margin-top: 5px;
            }
        }
    }

    .flex-insurance-thumbnail-type-sec {
        .contents-insurance-thumbnail-type {
            margin: 0 4px;
            box-sizing: border-box;
        }
    }

    .contents-theme-bg-color-transparent {
        background-color: transparent;
    }

    .contents-theme-color-primary {
        color: $mainPrimary;
    }

    .contents-theme-color-secondary {
        color: $mainSecondary;
    }

    .contents-theme-bg-color-primary {
        background-color: $mainPrimary;
    }

    .contents-theme-bg-color-secondary {
        background-color: $mainSecondary;
    }
    

}

h1 {
    @include mq(pc) {
        font-size: 20px;
    }

    @include mq(sp) {
        font-size: 50px;
    }
}

// @include m.mq(pc) {
// }

// @include m.mq(sp) {
// }

